#main
  %figure
    = image_tag 'project_1.png', alt: 'The Big Shake', title: 'The Big Shake'
    = image_tag 'project_2.png', alt: 'The Big Shake', title: 'The Big Shake'
    = image_tag 'project_3.png', alt: 'The Big Shake', title: 'The Big Shake'
  %article#team
    %h2 Vos réactions
    .fb-comments{data: {href: "http://thebigshake.net", numposts: "10", width: '600px'}}
