#picker
  %ul
    - @bands.each_with_index do |band, ii|
      %li.band{data: {track_id: band.track_id, band_id: band.id}}
        %figure{style: "background-image: url(#{band.thumbnail.url})"}
          .icon
            %i.icon-play
          .veil
        .name
          %h5= band.name
          %h6= band.track_name
        .clear
  -#%button#pause PAUSE
  .clear
#player
  %h3#hint 
    %span.red 1 
    court-métrage, 
    %span.red 11 
    groupes. Choisissez parmi ces 11 BO possibles.
  %iframe#tbs-player{src: 'http://player.vimeo.com/video/72523306?api=1&player_id=tbs-player&byline=0&title=0', width: '780px', height: '439px', frameborder: '0', webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true }
:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45837235-1', 'thebigshake.net');
  ga('send', 'pageview');
