#main
  %figure
    &nbsp;
  %article
    %h2 Le projet
    .bio
      %p
        « Il est là, sur le rebord. Le geste quotidien qui me fait femme. Je l’exécute. Je l’exécute comme dans les publicités dans lesquelles les filles qui se rasent n’ont pas de poils à raser, en faisant des pointes avec mes doigts de pieds, tout en sensualité. Et, je dérape. Un minuscule point rouge, presque noir, apparaît et j’ai l’habitude. J’ai l’habitude de ce sang là. Mais, il y a les images, les images qui vont plus loin, qui vont plus loin que les gestes, qui surgissent comme des flashs et envahissent. Elles sont là, elles viennent se calquer aux gestes quotidiens, aux échanges les plus simples, aux visages les plus familiers, ces images de l’horreur, de la mort. Et parfois, elles prennent le pas sur le geste. »
      %p
        Pendant la guerre du Vietnam, Martin Scorsese tourne un film court de 5’ intitulé The Big shave. Un homme dans une salle de bain se rase le visage jusqu’au sang, jusqu’à la mort. Le film est un cri poussé contre la violence de la guerre et de l’obligation de partir au front, de l’injonction à la violence. Cette première violence, c’est celle de se ressembler tous, en se rasant le crane, la barbe et de revêtir l’uniforme.
      %p
        The big shake de Lucie Rico est une relecture du film de Scorsese. A ceci près que c’est une femme qui exécute le geste quotidien du rasage. Jamais l’on a remis en cause cet acte qui fait d’une femme, une femme, être imberbe, pourtant, il porte en lui sa violence. La lame s’immisce plus loin qu’à fleur de peau, elle tranche le flux des pensées et, par la peur, y inscrit des images de coupure, de sang et de mort. 
      %p
        Si l’on peut voir ici un geste féministe, comme on voyait dans le film de Scorsese un film militant, le film est avant tout une image de la peur, qu’il fallait sortir de soi pour la dompter, qu’il fallait partager, s’approprier. Nous sommes les observateurs de la pulsion qui s'exprime tout au long d'une hallucination visuelle puissante. 
      %p
        La caméra garde une distance clinique avec ce tableau animé, lente observation du passage du blanc au rouge.
      %p
        En proposant aux spectateurs de choisir le son sur l’image, Lucie Rico propose de faire cohabiter les multiples présents dans l'interprétation d'images. Elle met face les spectateurs aux images, les obligeant à se les approprier, à jouer avec leurs peurs et à participer à cette imperturbable scène d'autodestruction, en lui donnant le sens, la rythmique et le degré de violence qu'ils souhaitent : d'une distance  à un discours univoque sur les images.