!!! 5
%html
  %head
  %title Thebigshake
  %script{src: '//connect.soundcloud.com/sdk.js'}
  %link{href: 'http://fonts.googleapis.com/css?family=Oswald:400,700', rel: 'stylesheet', type: 'text/css'}
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags

%body
  %header
    #left
      %h1 THE BIG SHAKE
      %p#by Un film de LUCIE RICO
    #right
      %ul#menu
        %li PRESSE
        %li L'EQUIPE
        %li LES GROUPES
        %li LE PROJET
    .clear
  = yield